<!-- <div class="create-post">
    <div class="main-div">
        <div class="create-post-name">
            <h3> Create Post </h3>
        </div>
        <hr>
        <div>
            <div>
                Sachin Minde
            </div>
            <div>
                Friends
            </div>
        </div>

        <div class="typeButtons">
            <button> Text </button>
            <button> Image </button>
            <button> Video </button>
        </div>
        <div>
            <p>Title</p>
            <input type="text">
            <p>Body</p>
            <input type="text">
        </div>

        <div class="fiels-div">

            <div>

                <form method="post" enctype="multipart/form-data">
                    <div>
                        <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" multiple
                            style="display: none;" />
                        <label for="image_uploads" style="cursor: pointer;">
                            Click here to select images to upload (PNG, JPG)
                        </label>
                    </div>
                    <div class="preview">
                        <p>No files currently selected for upload</p>
                    </div>

                </form>

            </div>
        </div>
        <div>
            <button>
                Post
            </button>
        </div>
    </div>

</div> -->
<!-- <div class="create-post">
    <div class="main-div">
        <div class="create-post-name">
            <h3> Create Post </h3>
        </div>
        <hr>
        <div>
            <div>
                Sachin Minde
            </div>
            <div>
                Friends
            </div>
        </div>

        <div class="typeButtons">
            <button> Text </button>
            <button> Image </button>
            <button> Video </button>
        </div>
        <div>
            <p>Title</p>
            <input type="text">
            <p>Body</p>
            <input type="text">
        </div>

        <div *ngIf="isImageSelected">
            <div *ngFor="let room of imageList">
                <img [src]="room" class="img-fluid rounded-start" alt="..." height="100px" width="100px">
            </div>
        </div>


        <div class="fiels-div">

            <div>
                <form method="post" enctype="multipart/form-data">
                    <div>
                        <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" multiple
                            (change)="onFileUpload($event)" style="display: none;" />

                        <label for="image_uploads" style="cursor: pointer;">
                            <div class="photos-add">

                                <div class="image">
                                    <p class="img-icon-drop"><ion-icon name="cloud-upload-outline"></ion-icon></p>
                                    <p class="img-txt">Add photos/videos </p>
                                    <p class="drag">or drag and drop</p>
                                    <button class="close"><ion-icon name="close-circle-outline"></ion-icon></button>
                                </div>
                            </div>
                        </label>
                    </div>

                </form>

            </div>
        </div>
        <div>
            <button>
                Post
            </button>
        </div>
    </div>

</div> -->



<body>


    <div class="outer-div">

        <div class="main-container">
            <div class="heading">
                <h1 class="heading-txt">Create post</h1>
                <p class="cross"><ion-icon name="close-circle-outline"></ion-icon></p>
            </div>
            <div class="profile">
                <img class="profile-photo" src="../../../assets/images/avatar.jpg" alt="">
                <div class="name-privacy">
                    <h1 class="name">Kali Si</h1>
                    <button class="privacy"><ion-icon name="people"></ion-icon>Friends<ion-icon
                            name="caret-down"></ion-icon></button>
                </div>

            </div>
            <div class="post">

                <input type="text" [(ngModel)]="title" id="username" name="username" placeholder="Title">
                <!-- What's on your mind, Kali Si? -->
                <input type="text" [(ngModel)]="body" id="username" name="username" placeholder="Body">
                <ion-icon id="smily" name="happy-outline"></ion-icon>

            </div>

            <div>
                <form method="post" enctype="multipart/form-data">
                    <div>
                        <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" multiple
                            (change)="onFileUpload($event)" style="display: none;" />

                        <label for="image_uploads" style="cursor: pointer;">
                            <div class="photos-add">

                                <div class="image">
                                    <p class="img-icon-drop"><ion-icon name="cloud-upload-outline"></ion-icon></p>
                                    <p class="img-txt">Add photos/videos </p>
                                    <p class="drag">or drag and drop</p>
                                    <button class="close"><ion-icon name="close-circle-outline"></ion-icon></button>
                                </div>
                            </div>
                        </label>
                    </div>

                </form>

            </div>

            <!-- <div class="post">
            <input type="text" id="username" name="username" placeholder="What's on your mind, Kali Si?">
        </div> -->

            <div class="add-to">
                <p class="add-ons">Add to your post</p>
                <div class="icons">
                    <p class="gallary"><ion-icon name="images-outline"></ion-icon></p>
                    <p class="add-person"><ion-icon name="person-add-outline"></ion-icon></p>
                    <p class="happy-fce"><ion-icon name="happy-outline"></ion-icon></p>
                    <p class="location"><ion-icon name="location-outline"></ion-icon></p>
                    <p class="gif"><ion-icon name="sparkles-outline"></ion-icon></p>
                    <p class="menu"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></p>
                </div>
            </div>
            <div (click)="post()" class="post-butn">
                <button class="post">Post</button>
            </div>

        </div>
       

    </div>

    <div *ngIf="isImageSelected" class="image-preview">
        <div *ngFor="let room of imageList">
            <img [src]="room" class="img-fluid">
        </div>
    </div>
</body>