<div class="login-container">
    
    <div class="outer-div">
        <div class="main-div">

            <div class="title">login works!</div>
            <!-- <div class="input-name"><input [(ngModel)]="name" required></div> -->
            <div>
                <input [(ngModel)]="email" required placeholder="Email" class="input-email">
            </div>

            <div><input type="password" [(ngModel)]="password" required placeholder="Password" class="input-password">
            </div>

            <div class="login-div"><button (click)="login()" class="login"> {{ isRegister? 'Register': 'Login' }} </button></div>

            <div class="register" (click)="toggle()">
                {{  isRegister? 'Login': 'Register' }}
            </div>
        </div>
    </div>
</div>