
html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    background-color:#84A7A1;
}

::-webkit-scrollbar {
    display: none;
}



// .login-container{
//     margin: 0;
//     padding: 0;
//     height: 100%;
// }

// .outer-div {
//     height: 400px;
//     display: flex;
//     justify-content: center;
// }

// .main-div {
//     align-items: center;
//     display: inline-block;
//     justify-content: center;
//     padding: 5px;
//     padding-top: 20px;
//     border-radius: 10px;
//     background-color: aquamarine;
// }

// .title {
//     align-items: center;
//     font-size: 24px;
//     font-weight: bold;
//     color: darkmagenta;
//     display: flex;
//     justify-content: center;
//     padding-bottom: 30px;
// }



// input {
//     margin: 20px;
// }

// .input-email {
//     padding: 10px;
//     width: 300px;
//     border-radius: 3px;
//     border: 0px;
// }

// .input-password {
//     padding: 10px;
//     width: 300px;
//     border-radius: 3px;
//     border: 0px;
// }

// .login-div {
//     display: flex;
//     justify-content: center;
//     margin-top: 10px;
// }

// .login {
//     padding: 5px;
//     padding-left: 30px;
//     padding-right: 30px;
//     font-size: 16px;
//     border-radius: 8px;
// }


// // .heading{
// //     display: flex;
// //     flex-direction: row;
// //     justify-content: space-between;
// //     align-items: center;
// //     height: 3.5rem;
   
// // }

// // .heading-txt{
// //     margin-left: 11rem;
// // }

// // .cross{
// //     font-size: 3rem;
// //     margin-top: 5px;
// //     color: #999;
// // }

// // .cross:hover{
// //     color: black;
// // }

// // .profile{
// //     display: flex;
// //     flex-direction: row;
// //     column-gap: 1rem;
// //     border: 1px;
// //     padding: 0.5rem;
// //     border-style: solid;
// //     border-color: #999;
// //     border-left: 0;
// //     border-right: 0;
// //     border-bottom: 0;
// //     margin-top: 0.5rem;
// // }

// // .name{
// //     font-size: 1.9rem;
// // }

// // .privacy{
// //     background-color: #d7d7d7;
// //     outline: none;
// //     border: none;
// //     height: 2.5rem;
// //     width: 8rem;
// //     border-radius: 3px;
// //     display: flex;
// //     justify-content:space-evenly;
// //     align-items: center;
// //     padding-left: 0.5rem;
// //     padding-right: 0.5rem;
// //     cursor: pointer;
// // }

// // .profile-photo{
// //     width: 15%;
// //     margin-left: 1rem;
// //     border-radius:50%;
// // }

// // .post{
// //     padding-top: -1rem;
// // }
// // #username{
// //     width: 100%;
// //     outline: none;
// //     border:none;
// //     height: 5rem;
// //     margin-top: rem;
// //     padding-left: 10px;
// //     text-align:start;
// // }

// // #smily{
// //     position: relative;
// //     top:-3.8rem;
// //     left:28.4rem;
// //     font-size: 2.5rem;
// //     color: #999;

// // }

// // #smily:hover{
// //     color: black;
// // }


// // .photos-add{
// //         width: 99%;
// //         height: 13rem;
// //         border-color: #D3D3D3;
// //         border-radius: 3px;
// //         border: 1px;
// //         border-style: solid;
// //         padding: 0.4rem;
// //         margin-top: 5rem;
       


// //     }

// // .img-icon-drop{
// //     font-size: 2.5rem;
// //     cursor: pointer;
// // }   

// // .img-txt{
// //     font-size: 1.5rem;
// //     font-weight: bold;
// // }

// // .drag{
// //     font-size: 1.2rem;
// // }

// // .image{
// //     background-color: #D3D3D3;
// //     height: 100%;
// //     display: flex;
// //     flex-direction: column;
// //     justify-content: center;
// //     align-items: center;
// //     padding-top: 3rem;
// // }

// // .close{
// //     position: relative;
// //     top:-8.9rem;
// //     right:-13.5rem;
// //     background: none;
// //     outline: none;
// //     border: none;
// //     font-size: 2.5rem;
// //     color: #999;
// //     transition: 1s;
// // }

// // .close:hover{
// //     color: black;

// // }
// // .add-to{
// //     width: 100%;
// //     height: 3.5rem;
// //     border: #999;
// //     border-width: 1px;
// //     border-style: solid;
// //     margin-top: 1rem;
// //     display: flex;
// //     justify-content:space-between;
// //     align-items: center;
// //     padding-left: 1rem;
// //     padding-right: 1rem;
// // }

// // .add-ons{
// //     font-size: 1.4rem;
// //     font-weight: bold;
// // }

// // .post{
// //     width: 100%;
// //     margin-top: 5px;
// //     height: 3rem;
// //     font-weight: bold;
// //     cursor: pointer;
// // }

// // .icons{
// //     display: flex;
// //     justify-content: space-evenly;

// // }


// // .icons p{
// //     margin-left: 0.5rem;
// //     font-size: 1.9rem;
// //     cursor: pointer;
// //     transition: 0.3s;
// // }
// // .icons p:hover{
// //     opacity: 0.5;
// // }
