.outer {
  background-color: red;
  height: 100%;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
}

.left {
  // padding-top: 5px;
  overflow: scroll;
  background-color: cadetblue;
}

.right {
  overflow: scroll;
  background-color: blueviolet;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upper {
  background-color: rgb(88, 71, 238);
  height: 50px;
}

.middle {
  background-color: rgb(241, 125, 36);
  overflow: scroll;
  padding-bottom: 60px;
  flex: 1;
}

.lower{
  background-color: rgb(43, 25, 196);
  height: 60px;
  flex: 1;
  position: fixed;
  bottom:0;
  width: 100%;
  // width: 100%;
}




.user {
  height: 100%;
  background-color: blue;
}

.chat {
  display: flex;
  overflow: scroll;
  flex-direction: column;
}



.user-div {
  width: 100%;
  align-items: center;
  display: flex;
  padding-top: 5px;
  flex-direction: row;
}

.user-div:hover {
  background-color: gray;
}

.user-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 10px;
  align-self: center;
}

.username {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.lastmessage {
  margin: 0;
  margin-top: 7px;
  font-size: 14px;
  overflow: hidden;
}


.username-div {
  width: 100%;
}

.devider {
  margin: 0;
  // margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 77px;
  color: gray;
}




.message-box {
  max-width:50%;
  padding: 5px;
  font-size: 18px;
  margin: 5px;
  // overflow:auto;
  border-radius: 10px;
  background-color: gray;
}


p{
  margin: 0;
  padding: 0;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.email {
  font-size: 24px;
  font-weight: bold;
  align-self: center;
  overflow-x: hidden;
}



#input{
  width: 45%;
  padding: 10px;
  margin-right: 20px;
  border-radius: 10px;

}

.send-button{
  height: 40px;
  padding-left:20px ;
  padding-right:20px ;
  border-radius: 15px;
}



.chat-box {
    // width: 100%;
    padding-left: 5%;
    
    height: 60px;
    background-color: aqua;
    display: flex;
    align-items: center;
}
