.outer {
  // background-color: red;
  height: 100%;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
}

.left {
  // padding-top: 5px;
  overflow: scroll;
  background-color: #1F6E8C;
}

.right {
  overflow: scroll;
  // background-color: ;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upper {
  background-color: #0B666A;
  height: 72px;
}

.middle {
  // background-color: rgb(241, 125, 36);
  overflow: scroll;
  padding-bottom: 60px;
  flex: 1;
}

.lower {
  height: 60px;
  flex: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  // width: 100%;
}




.user {
  height: 100%;
}

.chat {
  display: flex;
  overflow: scroll;
  flex-direction: column;
}



.user-div {
  width: 100%;
  align-items: center;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: row;
}

.user-div:hover {
  background-color: #2E8A99;
}

.user-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 10px;
  align-self: center;
}

.username {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.lastmessage {
  margin: 0;
  margin-top: 7px;
  font-size: 14px;
  overflow: hidden;
}


.username-div {
  width: 100%;
}

.devider {
  margin: 0;
  // margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 77px;
  // background-color: grey;
  // color: rgb(5, 0, 0);
}

hr {
  height: 2px;
  border-width: 0;
  color: #84A7A1;
  background-color: #84A7A1
}




.message-box {
  max-width: 50%;
  padding: 5px;
  font-size: 18px;
  margin: 5px;

  border-radius: 10px;
  background-color: #2E8A99;
}


p {
  margin: 0;
  padding: 0;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.header {
  font-size: 24px;
  height: 72px;
  width: 100%;
  font-weight: bold;
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}



#input {
  width: 45%;
  padding: 10px;
  margin-right: 20px;
  border-radius: 10px;
  border: none;
  background-color: #84A7A1;

}

.send-button {
  height: 40px;
  padding:  0px 30px;
  border-radius: 15px;
  border: none;
  background-color: #2E8A99;
}

.email {
  margin-right: 20px;
}

.camera {
  margin-top: 3px;
}

ion-icon {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.icons {
  display: flex;
}

.icons p:hover {
  opacity: 0.5;
}


.chat-box {
  // width: 100%;
  padding-left: 5%;
  height: 60px;
  background-color: #0B666A;
  display: flex;
  align-items: center;
}